<!DOCTYPE html>
<html lang="en">
<head>
    <title>MovieR</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html, charset=utf-8" />
    <meta name="keywords" content="One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    {% load staticfiles %}

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="{% static 'movies/css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'movies/css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'movies/css/contactstyle.css'%}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'movies/css/faqstyle.css'%}" type="text/css" media="all" />
    <link href="{% static 'movies/css/single.css'%}" rel='stylesheet' type='text/css' />
    <link href="{% static 'movies/css/medile.css'%}" rel='stylesheet' type='text/css' />
    <!-- banner-slider -->
    <link href="{% static 'movies/css/jquery.slidey.min.css'%}" rel="stylesheet">
    <!-- //banner-slider -->
    <!-- pop-up -->
    <link href="{% static 'movies/css/popuo-box.css'%}" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="{% static 'movies/css/font-awesome.min.css'%}" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="{% static 'movies/js/jquery-2.1.4.min.js'%}"></script>
    <!-- //js -->
    <!-- banner-bottom-plugin -->
    <link href="{% static 'movies/css/owl.carousel.css'%}" rel="stylesheet" type="text/css" media="all">
    <script src="{% static 'movies/js/owl.carousel.js'%}"></script>

<script>

	$(document).ready(function() {
		$("#owl-demo").owlCarousel({

		  autoPlay: 3000, //Set AutoPlay to 3 seconds

		  items : 5,
		  itemsDesktop : [640,4],
		  itemsDesktopSmall : [414,3]

		});

	});
</script>
    <!-- tables -->
<link rel="stylesheet" type="text/css" href="{% static 'movies/list-css/table-style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'movies/list-css/basictable.css' %}" />
<script type="text/javascript" src="{% static 'movies/list-js/jquery.basictable.min.js' %}"></script>
 <script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });
	   $('#table-breakpoint1').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint2').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint3').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint4').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint5').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint6').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint7').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint8').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint9').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint10').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint11').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint12').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint13').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint14').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint15').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint16').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint17').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint18').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint19').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint20').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint21').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint22').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint23').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint24').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint25').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint26').basictable({
        breakpoint: 768
      });
    });
  </script>
<!-- //tables -->

<!-- //banner-bottom-plugin -->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'movies/js/move-top.js'%}"></script>
<script type="text/javascript" src="{% static 'movies/js/easing.js'%}"></script>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>

<!-- start-smoth-scrolling -->
        <!-- S3eeeeeeeeeeeeeD -->

    <style>
    #slidey{

        }
    #mah {
         color: #fff;
        background-color: #EC600B;
        display: list-item;



    }


    #beh{
        Width : 2000px
    }
    #sah {
        background-color: #EC600B;
        color: white;
        text-align: center;
        margin-top: -40px;

        position: absolute;  /* <-- added declarations */
        left: 0; top: 30px;  /*     here               */
        width: 100%;
        text-decoration-line: none;
            border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: inset 0 4px 40px #f0ad4e;
        z-index:100!important;

    }

    </style>
        <!-- S3eeeeeeeeeeeeeD -->
</head>

<body>
{% csrf_token %}
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="w3layouts_logo">
                <a href="{% url 'movies:myindex' %}"><img src="{% static 'movies/images/movier.png' %}" alt="MovieR" style="width:200px;height:70px;border:0;"></a>
			</div>
			<div class="w3_search">
				<form action="#" method="get">
					<input type="text" name="Search" placeholder="Search" required="required" value="{{ request.GET.Search }}">
					<input type="submit" value="Go" onclick="myFunction()">
				</form>
                {% if mySearch %}
                    {% for item in mySearch %}
                        <dt>  <div class="dropdown" id="mah"><a  id ="sah" href="/movies/{{ item.movieid }}" > {{ item.title }}</a></div></dt>
                    {% endfor %}
                {% endif %}

                {% if mySearch2 %}
                    {% for item in mySearch2 %}
                        <dt>  <div class="dropdown" id="mah"><a  id ="sah" href="/movies/usersearch/{{ item.userid }}" > {{ item.username }}</a></div></dt>
                    {% endfor %}
                {% endif %}

			</div>
			<div class="w3l_sign_in_register">
				<ul>
					<!--<li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 123 345</li>-->
                    {% if user.is_authenticated %}

                        <h4 style="position: absolute ; right: 350px">Welcome, <a href="{% url 'movies:profile' %}">{{ user.username }}</a></h4>
                        <li><a href="{% url 'movies:logout' %}" data-toggle="modal">Logout</a></li>

                        {% else %}
                            <li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
                    {% endif %}

				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Sign In & Sign Up
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<section>
					<div class="modal-body">
						<div class="w3_login_module">
							<div class="module form-module">
							  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
								<div class="tooltip">Click Me</div>
							  </div>
							  <div class="form">
								<h3>Login to your account</h3>
								<form role="form" action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% if error_message %}
                                         <p><strong>{{ error_message }}</strong></p>
                                    {% endif %}
								    <input type="text" name="username" placeholder="Username" required="">
                                    <input type="password" name="password" placeholder="Password" required="">
                                    <input type="submit" value="Login">
								</form>
							  </div>

							  <div class="form">
								<h3>Create an account</h3>
								<form role="form" action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="text" name="username" placeholder="Username" required="">
                                    <input type="email" name="email" placeholder="Email Address" required="">
                                    <input type="password" name="password" placeholder="Password" required="">



                                    <input href="{% url 'movies:myindex' %}" type="submit" value="Register">
								</form>
							  </div>
							  <div class="cta"><a href="#">Forgot your password?</a></div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>

	<script>
		$('.toggle').click(function(){
		  // Switches the Icon
		  $(this).children('i').toggleClass('fa-pencil');
		  // Switches the forms
		  $('.form').animate({
			height: "toggle",
			'padding-top': 'toggle',
			'padding-bottom': 'toggle',
			opacity: "toggle"
		  }, "slow");
		});
	</script>

<!-- //bootstrap-pop-up -->
<!-- nav -->
	<div class="movies_nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="beh">
					<nav>
						<ul class="nav navbar-nav">
							<li class="active"><a href="{% url 'movies:myindex' %}">Home</a></li>

							{% if user.is_authenticated %}
							    <li class="active"><a href="{% url 'movies:list' %}">Recommended for you</a></li>
                                <li class="active"><a href="{% url 'movies:userschoices' %}">Friends' Top choices</a></li>
                                <li class="active"><a href="{% url 'movies:simUsers' %}">Similar Users</a></li>
                            {% endif %}
						</ul>
					</nav>
				</div>
			</nav>
		</div>
	</div>
<!-- //nav -->
<div class="agileits-news-top">
    <ol class="breadcrumb">
        <li><a href="{% url 'movies:myindex' %}">Home</a></li>
        <li class="active">Profile</li>
    </ol>
</div>
<h4 class="latest-text w3_faq_latest_text w3_latest_text">Username: {{ user.username }}</h4>
<h4 class="latest-text w3_faq_latest_text w3_latest_text">Email: {{ user.email }}</h4>
<br><br>


<div class="faq">
		<h4 class="latest-text w3_faq_latest_text w3_latest_text">Movies you rated:</h4>
			<div class="container">


                <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                    <div class="agile-news-table">
                        <div class="w3ls-news-result">
                        </div>
                        <table id="table-breakpoint">
                            <thead>
                            <tr>
                                <th>Movie Name</th>
                                <th>Status</th>
                                <th>Genre</th>
                                <th>Rating</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for movie in s %}
                                <tr>
                                    <td class="w3-list-img"><a href="/movies/{{ movie.movieid }}"><span>{{ movie.title }}</span></a></td>
                                    <td>HD</td>
                                    <td class="w3-list-info">{{ movie.genres }}</td>
                                    <td>{{ movie.rate }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
</div>


<!-- //faq-banner -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="w3ls_footer_grid">
				<div class="col-md-6 w3ls_footer_grid_left">
					<div class="w3ls_footer_grid_left1">
						<h2>Subscribe to us</h2>
						<div class="w3ls_footer_grid_left1_pos">
							<form action="#" method="post">
								<input type="email" name="email" placeholder="Your email..." required="">
								<input type="submit" value="Send">
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-6 w3ls_footer_grid_right">
					<a href="index.html"><h2>One<span>Movies</span></h2></a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-5 w3ls_footer_grid1_left">
				<p>&copy; 2017 MovieR. All rights reserved </p>
			</div>
			<div class="col-md-7 w3ls_footer_grid1_right">
				<ul>
					<li>
						<a href="genres.html">Movies</a>
					</li>
					<li>
						<a href="faq.html">FAQ</a>
					</li>
					<li>
						<a href="horror.html">Action</a>
					</li>
					<li>
						<a href="genres.html">Adventure</a>
					</li>
					<li>
						<a href="comedy.html">Comedy</a>
					</li>
					<li>
						<a href="icons.html">Icons</a>
					</li>
					<li>
						<a href="contact.html">Contact Us</a>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'movies/js/bootstrap.min.js' %}"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- //here ends scrolling icon -->

</body>
</html>